.col-id {
  width: 1rem;
}

.col-date {
  width: 6rem;
}

.col-name {
  width: 8rem;
}

.col-rating {
  width: 6rem;
}

.col-comment {
  max-width: 40%;
}

.col-status {
  text-align: left;
  width: 8rem;
}

.col-status-date {
  width: 10rem;
}